rec {
  system = {
    hostname = ""; #must be the same as your file in hosts/
    stateVersion = ""; #for example 25.11
  };

  user = {
    name = "";
    alias = ""; #online username for git etc.
    email = "";
    home = "/home/${user.name}"; #home folder, usually shouldn't be changed
  };

  misc = {
    browserHomepage = "";
    networkShare = ''
    ''; #bookmark for networkshare in Nemo - example format: "smb://sub.example.tld/ BookmarkName"
  };
}
