// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

prefer-no-csd
debug {
    //wait-for-frame-completion-before-queueing
    honor-xdg-activation-with-invalid-serial //allows notification actions and window activation from Noctalia
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto" // Tvingar Electron-appar som Brave att använda Wayland
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"

    //https://www.reddit.com/r/niri/comments/1m8zpx4/comment/ncgkcbf/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button
    //GSK_RENDERER "ngl"
    //GDK_SCALE "1" 
    //QT_SCALE_FACTOR "1"
}

// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        numlock // Enable numlock on startup
    }
    //libinputs
    touchpad {
        // off
        tap
        dwt //disable when typing
	dwtp //disable when trackpointing
        drag true
        drag-lock
        natural-scroll
	scroll-factor 0.7
        accel-speed 0.2
        accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.0
	//scroll-factor 0.5
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        accel-speed 0.0
        accel-profile "flat"
        scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="40%"
    // warp-mouse-to-focus //make mouse warp to the center of newly focused windows.
}

//"niri msg outputs"
//output "eDP-1" { //most common name for laptop-screens
//    mode "1920x1200"
//    scale 1
//}

output "eDP-1" { //laptop
    mode "3440x1440"
    focus-at-startup
    //scale 1
    position x=0 y=0
}

output "PNP(AOC) 2460G4 0x000000DC" {
    // off
    focus-at-startup
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    mode "1920x1080"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=0 y=0
}

output "LG Electronics LG ULTRAWIDE 0x00021E47" {
    mode "3440x1440"
    scale 1
    position x=1920 y=-150
}

// Settings that influence how windows are positioned and sized.
layout {
    // Set gaps around windows in logical pixels.
    gaps 10 //default 16

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"

    always-center-single-column

    //"switch-preset-column-width"
    preset-column-widths {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
	//proportion 1.0

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    //"switch-preset-window-height"
    preset-window-heights {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    //default width of the new windows.
    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 3 //default 4
        // Color of the ring on the active monitor.
        //active-color "#7fc8ff"
        // Color of the ring on inactive monitors.
        //inactive-color "#505050"
        inactive-color "#7fc87f"

	//gradients
        active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
	off
        width 2
        active-color "#ffc87f"
	inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        on
        draw-behind-window true // shadow artifacts inside the CSD rounded corners. This setting fixes those artifacts.

        // Softness controls the shadow blur radius.
        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
    //struts
}

hotkey-overlay {
    //disable "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

animations {
    // off
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    slowdown 0.5
}

//all windows
window-rule {
    geometry-corner-radius 15 //default 12
    clip-to-geometry true
    opacity 0.9
    draw-border-with-background false //https://www.reddit.com/r/niri/comments/1qa1m97/opacity_in_alacritty/
}

//niri msg windows
//niri msg pick-window
//niri msg event-stream
//////////////// Floating ///////////////////////
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="brave" app-id="nngceckbapebfimnlniiiahkandclblb" //bitwarden
    match app-id="resolve" app-id="resolve" //bitwarden

    open-floating true
}

///////////////// PiP ///////////////////
window-rule {
    match title=r#"^Picture in picture$"#

    open-floating true
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
    opacity 1.0
}

window-rule { //keybind floating
    match app-id=r#"^dot.floating"#

    open-floating true
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.5; }
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

///////////// full opacity //////////////////
window-rule {
    match app-id="brave" title="YouTube"
    match app-id="Pinta"
    match app-id="gimp"
    match app-id="resolve"

    opacity 1.0
}

///////////// lower scroll factor /////////////// workaround for brave/chromium browsers on wayland reading raw libinput instead of scroll stack
window-rule {
    match app-id=r#"(?i)brave|discord|vscode|spotify"# //case-insensitive

    scroll-factor 0.15
}

//https://docs.noctalia.dev/getting-started/compositor-settings/niri/#option-1-blurred-overview-wallpaper
layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

binds {
    Mod+Shift+Period { show-hotkey-overlay; }

    // Rotate currently focused screen with AltGr + Arrow
    Mod5+Left hotkey-overlay-title="Rotate screen: left" { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform 90"; }
    Mod5+Up hotkey-overlay-title="Rotate screen: up" { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform normal"; }
    Mod5+Right hotkey-overlay-title="Rotate screen: right" { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform 270"; }
    Mod5+Down hotkey-overlay-title="Rotate screen: down" { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform 180"; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Shift+T hotkey-overlay-title="Open a Terminal: kitty (floating" { spawn "kitty" "--class=dot.floating.kitty"; }

    Ctrl+Mod+Shift+Alt+W hotkey-overlay-title="Run an Application: launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Mod+W hotkey-overlay-title="Run an Application: rofi" { spawn-sh "pkill rofi || rofi -show drun -show-icons"; }

    Mod+B hotkey-overlay-title="Run an Application: brave" { spawn "brave"; }
    Mod+Shift+B hotkey-overlay-title="Run an Application: brave (floating)" { spawn "brave" "--class=dot.floating.brave"; }

    /////////////////// HYPER-key //////////////////
    Ctrl+Mod+Shift+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn-sh "loginctl lock-session"; }
    Ctrl+Mod+Shift+Alt+Tab hotkey-overlay-title="Niri: Overview" repeat=false { toggle-overview; } // default Mod+O
    Ctrl+Mod+Shift+Alt+E hotkey-overlay-title="File Explorer: Dolphin" { spawn-sh "dolphin"; }
    //noctalia-shell ipc show
    Ctrl+Mod+Shift+Alt+V hotkey-overlay-title="Noctalia: Clipper" { spawn-sh "noctalia-shell ipc call plugin:clipper toggle"; }
    Ctrl+Mod+Shift+Alt+B hotkey-overlay-title="Noctalia: Background" { spawn-sh "noctalia-shell ipc call wallpaper toggle"; }
    Ctrl+Mod+Shift+Alt+X hotkey-overlay-title="Noctalia: Powermenu" { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }
    Ctrl+Mod+Shift+Alt+C hotkey-overlay-title="Noctalia: KeepAwake" { spawn-sh "noctalia-shell ipc call idleInhibitor toggle"; }

    //Super+Ctrl+Return allow-when-locked=true hotkey-overlay-title="Screen reader (Orca)" { spawn-sh "pkill orca || exec orca"; }

    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }


    Mod+Q repeat=false { close-window; }

    //window focus
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    //Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-up; }
    //Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    //move windows within workspace
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    //Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up; }
    //Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // first and last window
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    // focus monitors
    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+J     { focus-monitor-down; }
    Mod+Alt+K     { focus-monitor-up; }
    Mod+Alt+L     { focus-monitor-right; }

    ////move column to monitor
    //Mod+Ctrl+Left  { move-column-to-monitor-left; }
    //Mod+Ctrl+Down  { move-column-to-monitor-down; }
    //Mod+Ctrl+Up    { move-column-to-monitor-up; }
    //Mod+Ctrl+Right { move-column-to-monitor-right; }
    //Mod+Ctrl+H     { move-column-to-monitor-left; }
    //Mod+Ctrl+J     { move-column-to-monitor-down; }
    //Mod+Ctrl+K     { move-column-to-monitor-up; }
    //Mod+Ctrl+L     { move-column-to-monitor-right; }

    //move window to monitor
    Mod+Ctrl+Left  { move-window-to-monitor-left; }
    Mod+Ctrl+Down  { move-window-to-monitor-down; }
    Mod+Ctrl+Up    { move-window-to-monitor-up; }
    Mod+Ctrl+Right { move-window-to-monitor-right; }
    Mod+Ctrl+H     { move-window-to-monitor-left; }
    Mod+Ctrl+J     { move-window-to-monitor-down; }
    Mod+Ctrl+K     { move-window-to-monitor-up; }
    Mod+Ctrl+L     { move-window-to-monitor-right; }

    //move entire workspace to monitor
    Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-window-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-window-to-monitor-right; }

    //focusing and moving up or down between workspaces
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+F              { focus-workspace-down; } //default U
    Mod+D              { focus-workspace-up; } //default I
    //Mod+Shift+Page_Down { move-column-to-workspace-down; }
    //Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    //Mod+Shift+F         { move-column-to-workspace-down; } //default U
    //Mod+Shift+D         { move-column-to-workspace-up; } //default I
    Mod+Shift+Page_Down { move-window-to-workspace-down; }
    Mod+Shift+Page_Up   { move-window-to-workspace-up; }
    Mod+Shift+F         { move-window-to-workspace-down; } //default U
    Mod+Shift+D         { move-window-to-workspace-up; } //default I
    
    //move entire workspace up or down
    Mod+Shift+Ctrl+Page_Down { move-workspace-down; }
    Mod+Shift+Ctrl+Page_Up   { move-workspace-up; }
    Mod+Shift+Ctrl+F         { move-workspace-down; } //default U
    Mod+Shift+Ctrl+D         { move-workspace-up; } //default I

    //change workspace by scrolling; default 150ms
    Mod+WheelScrollDown      cooldown-ms=50 { focus-column-right; }
    Mod+WheelScrollUp        cooldown-ms=50 { focus-column-left; }
    //Mod+Shift+WheelScrollDown cooldown-ms=25 { move-column-to-workspace-down; }
    //Mod+Shift+WheelScrollUp   cooldown-ms=25 { move-column-to-workspace-up; }
    //Mod+WheelScrollRight      { focus-column-right; }
    //Mod+WheelScrollLeft       { focus-column-left; }
    //Mod+Shift+WheelScrollRight { move-column-right; }
    //Mod+Shift+WheelScrollLeft  { move-column-left; }
    //Mod+Shift+WheelScrollDown      { focus-column-right; }
    //Mod+Shift+WheelScrollUp        { focus-column-left; }
    //Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    //Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    //change workspace by index
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    //Mod+Shift+1 { move-column-to-workspace 1; }
    //Mod+Shift+2 { move-column-to-workspace 2; }
    //Mod+Shift+3 { move-column-to-workspace 3; }
    //Mod+Shift+4 { move-column-to-workspace 4; }
    //Mod+Shift+5 { move-column-to-workspace 5; }
    //Mod+Shift+6 { move-column-to-workspace 6; }
    //Mod+Shift+7 { move-column-to-workspace 7; }
    //Mod+Shift+8 { move-column-to-workspace 8; }
    //Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // If the window is already in a column, they will expel it out.
    //consume or expel window to and from column; default was brackets
    Mod+Comma { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }
    //Mod+Comma  { consume-window-into-column; }
    //Mod+Period { expel-window-from-column; }

    //window sizes
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Alt+R { reset-window-height; }
    Mod+E { maximize-column; }
    //fill the rest of the space
    Mod+Shift+E { expand-column-to-available-width; }
    Alt+Return { fullscreen-window; }

    Mod+C { center-column; }
    // Center all fully visible columns on screen.
    Mod+Shift+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle vertically tabbed column display mode.
    Mod+Alt+V { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    //Mod+Space       { switch-layout "next"; }
    //Mod+Shift+Space { switch-layout "prev"; }

    Super+Shift+S { screenshot; }
    //Ctrl+Print { screenshot-screen; }
    //Alt+Print { screenshot-window; }

    // escape hatch for keyboard inhibitors
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+Q { quit; }
    Ctrl+Alt+Delete hotkey-overlay-title="Suspend" { spawn-sh "systemctl suspend"; }

    Mod+Shift+P { power-off-monitors; }
}

include "niri-imports.hm.kdl"
