// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

prefer-no-csd
debug {
    //wait-for-frame-completion-before-queueing
    honor-xdg-activation-with-invalid-serial //allows notification actions and window activation from Noctalia
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto" // Tvingar Electron-appar som Brave att använda Wayland
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"

    //https://www.reddit.com/r/niri/comments/1m8zpx4/comment/ncgkcbf/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button
    //GSK_RENDERER "ngl"
    //GDK_SCALE "1" 
    //QT_SCALE_FACTOR "1"
}

// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
	xkb {
	    layout "se"
        }
        numlock // Enable numlock on startup
    }
    //libinputs
    touchpad {
        // off
        tap
        dwt //disable when typing
	dwtp //disable when trackpointing
        drag true
        drag-lock
        natural-scroll
	scroll-factor 0.7
        accel-speed 0.1
        accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.0
	//scroll-factor 0.5
	accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        accel-speed 0.0
        accel-profile "flat"
        scroll-method "on-button-down"
        scroll-button 274
        //scroll-button-lock
        //middle-emulation
    }

    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="30%"
    //warp-mouse-to-focus //make mouse warp to the center of newly focused windows.
}

//"niri msg outputs"
output "LG Electronics LG ULTRAWIDE 0x00021E47" {
    layout {
	default-column-width { proportion 0.33334; }
    }
}

animations {
    // off
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    slowdown 0.5
}

// Settings that influence how windows are positioned and sized.
layout {
    // Set gaps around windows in logical pixels.
    gaps 10 //default 16

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    //center-focused-column "never"
    center-focused-column "on-overflow"

    always-center-single-column

    //"switch-preset-column-width"
    preset-column-widths {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
	//proportion 1.0

        // fixed 1920
    }

    //"switch-preset-window-height"
    preset-window-heights {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    //default width of the new windows.
    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 3 //default 4
        // Color of the ring on the active monitor.
        //active-color "#7fc8ff"
        // Color of the ring on inactive monitors.
        //inactive-color "#505050"
        inactive-color "#7fc87f"

	//gradients
        active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
	off
        width 3
        active-color "#ffc87f"
	inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        on
        draw-behind-window true // shadow artifacts inside the CSD rounded corners. This setting fixes those artifacts.

        // Softness controls the shadow blur radius.
        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
    //struts
}

hotkey-overlay {
    //disable "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null



workspace "start"
window-rule {
    match app-id="thunderbird"
    match app-id="discord"
    match app-id="teams-for-linux"
    match app-id="signal"
    match app-id="steam"
    match app-id="lutris"
    match app-id="spotify"

    open-on-workspace "start"
    default-column-width { proportion 1.0; }
}




//////////////////// all windows ///////////////////////////
window-rule {
    geometry-corner-radius 15 //default 12
    clip-to-geometry true
    open-maximized-to-edges false //prevent windows from opening maximized
    opacity 0.9 //or 0.925
    draw-border-with-background false //https://www.reddit.com/r/niri/comments/1qa1m97/opacity_in_alacritty/
    background-effect {
        blur true
    }
}

//niri msg windows
//niri msg pick-window
//niri msg event-stream
//////////////// Floating ///////////////////////
window-rule {
    match app-id="brave" app-id="nngceckbapebfimnlniiiahkandclblb" //bitwarden
    match app-id="resolve" app-id="resolve" //bitwarden
    match app-id="org.gnome.Calculator"
    match app-id="org.gnome.TextEditor"
    match app-id="vlc" title="Current Media Information"
    match app-id="thunar" title="Bulk Rename"
    match app-id="org.gnome.clocks"
    match app-id="nemo" title=r#".+ Properties$"#
    match app-id="org.gnome.FileRoller"
    //match app-id="teams-for-linux" title="Teams for Linux - Screen is being shared"

    open-floating true
}

///////////////// PiP ///////////////////
window-rule {
    match title=r#"^Picture in picture$"#
    match app-id=r#"^float.bottomright$"#

    open-floating true
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
    default-column-width { fixed 500; } //https://calculateaspectratio.com/
    default-window-height { fixed 281; }
    opacity 1.0
}

///////////// open unfocused /////////////
//window-rule {
//    match app-id="Audacity" //title="change"
//
//    open-focused false
//}

window-rule { //keybind floating
    match app-id=r#"^dot.floating"#

    open-floating true
    default-column-width { proportion 0.33; }
    default-window-height { proportion 0.5; }
}

window-rule {
    //match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    //match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^class.secretive"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

///////////// full opacity //////////////////
window-rule {
    match app-id="brave" title="YouTube"
    match app-id="brave" title="Twitch"
    match app-id="brave" title="Immich"
    match app-id="brave" title="Google Maps"
    match app-id="Pinta"
    match app-id="gimp"
    match app-id="resolve"
    match app-id="org.gnome.Snapshot"
    match app-id="synthesia"
    match app-id="mpv"
    match app-id="vlc"
    match app-id=r#".+wl_mirror$"# //screen-mirror

    opacity 1.0
}

///////// window cast active /////////////
window-rule {
    match is-window-cast-target=true

    border {
	on
        active-gradient from="#cc1d5d" to="#cc241dee" angle=45
        inactive-gradient from="#cc1d5d" to="#cc241dee" angle=215
    }
    focus-ring {
	off
    }
    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

///////// secretive border /////////////
window-rule {
    match app-id=r#"^class.secretive"#

    border {
	on
        active-gradient from="#cc241dee" to="#bf0ed7" angle=45
        inactive-gradient from="#cc241dee" to="#bf0ed7" angle=215
    }
    focus-ring {
	off
    }
    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id="SheetMusicViewer"

    open-maximized true
    open-floating false
    opacity 1.0
}

///////////////// TOASTS - bottom right ///////////////////
window-rule {
    match app-id="steam" title="toasts"

    open-floating true
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
    //default-column-width { proportion 0.3; }
    //default-window-height { proportion 0.3; }
    opacity 1.0
}

//https://docs.noctalia.dev/getting-started/compositor-settings/niri/#option-1-blurred-overview-wallpaper
layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

binds {
    Mod+Shift+Period { show-hotkey-overlay; }

    // Rotate currently focused screen with AltGr + Arrow
    Mod5+Left hotkey-overlay-title="Rotate screen: left" allow-when-locked=true { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform 90"; }
    Mod5+Up hotkey-overlay-title="Rotate screen: up" allow-when-locked=true { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform normal"; }
    Mod5+Right hotkey-overlay-title="Rotate screen: right" allow-when-locked=true { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform 270"; }
    Mod5+Down hotkey-overlay-title="Rotate screen: down" allow-when-locked=true { spawn-sh "niri msg output $(niri msg --json focused-output | jq -r '.name') transform 180"; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+Shift+T hotkey-overlay-title="Open a Terminal: kitty (floating)" { spawn "kitty" "--class=dot.floating.kitty"; }

    //Super+Mod5+Space hotkey-overlay-title="Run an Application: launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Mod+Space repeat=false hotkey-overlay-title="Run an Application: vicinae" { spawn-sh "vicinae toggle"; }

    Mod+N hotkey-overlay-title="Run an Application: gnome-text-editor" { spawn "gnome-text-editor" "--new-window"; }
    Mod+B hotkey-overlay-title="Run an Application: brave" { spawn "brave"; }
    Mod+Shift+B hotkey-overlay-title="Run an Application: brave incognito" { spawn "brave" "--incognito"; }
    //Mod+Shift+B hotkey-overlay-title="Run an Application: brave (floating)" { spawn "brave" "--class=dot.floating.brave"; }

    Mod+W hotkey-overlay-title="Run an Application: obsidian" { spawn "obsidian"; }

    Mod+Z hotkey-overlay-title="Run an Application: vscode" { spawn "code"; }
    Mod+Shift+Z hotkey-overlay-title="Run an Application: vscode --new-window" { spawn "code" "--new-window"; }

    //niri msg --json workspaces | jq --arg out "$(niri msg --json focused-output | jq -r .name)" '[.[] | select(.output == $out)] | length'

    Mod+X hotkey-overlay-title="Niri: go to last workspace" { spawn-sh "niri msg action focus-workspace $(niri msg --json workspaces | jq --arg out \"$(niri msg --json focused-output | jq -r .name)\" '[.[] | select(.output == $out)] | length')"; }
    Mod+Shift+X hotkey-overlay-title="Niri: move column to last workspace" { spawn-sh "niri msg action move-column-to-workspace $(niri msg --json workspaces | jq --arg out \"$(niri msg --json focused-output | jq -r .name)\" '[.[] | select(.output == $out)] | length')"; } //----------------------------------------> Keybind doesn't seem to work
    Mod+Ctrl+X hotkey-overlay-title="Niri: move workspace to last workspace" { spawn-sh "niri msg action move-workspace-to-index $(niri msg --json workspaces | jq --arg out \"$(niri msg --json focused-output | jq -r .name)\" '[.[] | select(.output == $out)] | length')"; }

    /////////////////// HYPER-key //////////////////
    Super+Mod5+L hotkey-overlay-title="Lock the Screen" { spawn-sh "loginctl lock-session"; }
    Super+Mod5+Alt+L allow-when-locked=true hotkey-overlay-title="Lock and Turn Off the Screen with Caffeine" { 
        spawn-sh "
	    caffeineState=$(test -f $XDG_RUNTIME_DIR/noctalia-caffeine-enabled.state; echo $?)

	    if [ \"$caffeineState\" -ne 0 ]; then
		noctalia msg caffeine-enable
                sleep 1 && pidwait hyprlock && \\
		    noctalia msg caffeine-disable & #disown to get pidwait running in background
	    fi

	    loginctl lock-session
	    niri msg action power-off-monitors
        "; 
    }

    Super+Mod5+F hotkey-overlay-title="Niri: Pick Window" { spawn-sh "kitty --class=float.bottomright -e sh -c 'niri msg pick-window && read'"; }
    Super+Mod5+E hotkey-overlay-title="File Explorer: Nemo" { spawn-sh "nemo"; }
    Super+Mod5+Shift+C hotkey-overlay-title="Color Picker: hyprpicker" { spawn-sh "kitty --class=float.bottomright -e sh -c 'hyprpicker -u 500 -a -n -r && sleep 3'"; }
    //noctalia msg --help
    Super+Mod5+V repeat=false hotkey-overlay-title="Vicinae: Clipper" { spawn-sh "vicinae vicinae://launch/clipboard/history?toggle=true"; }
    //Super+Mod5+V hotkey-overlay-title="Noctalia: Clipper" { spawn-sh "noctalia-shell ipc call plugin:clipper toggle"; }
    Super+Mod5+B hotkey-overlay-title="Noctalia: Background" { spawn-sh "noctalia msg panel-toggle wallpaper toggle"; }
    Super+Mod5+Alt+B hotkey-overlay-title="Noctalia: Wallhaven" { spawn-sh "noctalia msg panel-toggle noctalia/wallhaven:browser"; }
    Super+Mod5+D hotkey-overlay-title="Noctalia: Screen Toolkit" { spawn-sh "noctalia msg panel-toggle alexander/screen-toolkit:panel"; }
    Ctrl+Alt+Delete hotkey-overlay-title="Noctalia: Powermenu" { spawn-sh "noctalia msg panel-toggle session"; }
    Super+Mod5+C hotkey-overlay-title="Noctalia: Caffeine (idleInhibitor)" { 
        spawn-sh "
	    appState=$XDG_RUNTIME_DIR/noctalia-caffeine-enabled.state
	    caffeineStatus=$(systemd-inhibit --list | grep 'noctalia'; echo $?)

	    if [ \"$caffeineStatus\" -ne 0 ]; then
		noctalia msg caffeine-enable
	        touch $appState
	    else
		noctalia msg caffeine-disable
	        rm $appState
	    fi
        "; 
    }
    Super+Mod5+Period hotkey-overlay-title="Vicinae: Emoji" { spawn-sh "vicinae vicinae://launch/core/search-emojis?toggle=true"; }
    //Super+Mod5+Period hotkey-overlay-title="Noctalia: Emoji" { spawn-sh "noctalia-shell ipc call launcher emoji"; }

    Super+Mod5+Minus hotkey-overlay-title="Niri: Scale Down" { spawn-sh "sh ~/.config/niri/outputscale.hm.sh 'down'"; }
    Super+Mod5+Plus hotkey-overlay-title="Niri: Scale Up" { spawn-sh "sh ~/.config/niri/outputscale.hm.sh 'up'"; }
    Ctrl+Shift+Escape hotkey-overlay-title="Task Manager: missioncenter" { spawn-sh "missioncenter"; }
    Ctrl+Shift+Alt+Escape hotkey-overlay-title="Task Manager Alt: btop" { spawn-sh "kitty -e btop"; }

    Super+Mod5+Ctrl+Shift+B hotkey-overlay-title="Noctalia: restart Noctalia & Vicinae" { spawn-sh "sh ~/.config/niri/noctalia-and-vicinae-restart.hm.sh"; }
    //////// script to allow toggle for dynamic-cast-target ///////////////
    Mod+Alt+W hotkey-overlay-title="Cast focused window" { spawn-sh "niri msg action set-dynamic-cast-window"; }
    Mod+Alt+D hotkey-overlay-title="Cast focused monitor" { spawn-sh "niri msg action set-dynamic-cast-monitor"; } //does not yet have a layer-rule, since there is not "is-output-cast-target"-option yet...
    Mod+Alt+S hotkey-overlay-title="Clear dynamic cast target" { spawn-sh "niri msg action clear-dynamic-cast-target"; }

    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Q repeat=false { close-window; }
    Mod+Shift+Q repeat=false { spawn-sh "kill -9 $(niri msg -j focused-window | jq .pid)"; }

    //window focus
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; } //or { focus-window-or-workspace-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // focus monitors
    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+J     { focus-monitor-down; }
    Mod+Alt+K     { focus-monitor-up; }
    Mod+Alt+L     { focus-monitor-right; }

    //move windows within workspace
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; } //or { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    // first and last window ////////////////////////////////////////////////////////////////////////////////////////////////
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    //move column to monitor
    Mod+Shift+Alt+Left  { move-column-to-monitor-left; } //or { move-window-to-monitor-left; }
    Mod+Shift+Alt+Down  { move-column-to-monitor-down; }
    Mod+Shift+Alt+Up    { move-column-to-monitor-up; }
    Mod+Shift+Alt+Right { move-column-to-monitor-right; }
    Mod+Shift+Alt+H     { move-column-to-monitor-left; }
    Mod+Shift+Alt+J     { move-column-to-monitor-down; }
    Mod+Shift+Alt+K     { move-column-to-monitor-up; }
    Mod+Shift+Alt+L     { move-column-to-monitor-right; }

    //move entire workspace to monitor
    Mod+Ctrl+Alt+Left  { move-workspace-to-monitor-left; }
    Mod+Ctrl+Alt+Down  { move-workspace-to-monitor-down; }
    Mod+Ctrl+Alt+Up    { move-workspace-to-monitor-up; }
    Mod+Ctrl+Alt+Right { move-workspace-to-monitor-right; }
    Mod+Ctrl+Alt+H     { move-workspace-to-monitor-left; }
    Mod+Ctrl+Alt+J     { move-workspace-to-monitor-down; }
    Mod+Ctrl+Alt+K     { move-workspace-to-monitor-up; }
    Mod+Ctrl+Alt+L     { move-workspace-to-monitor-right; }

    //focusing and moving up or down between workspaces
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+F              { focus-workspace-down; } //default U
    Mod+D              { focus-workspace-up; } //default I

    //move column to workspace
    Mod+Shift+Page_Down { move-column-to-workspace-down; } //or { move-window-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+F         { move-column-to-workspace-down; } //default U
    Mod+Shift+D         { move-column-to-workspace-up; } //default I
    
    //move entire workspace up or down
    Mod+Ctrl+Page_Down { move-workspace-down; }
    Mod+Ctrl+Page_Up   { move-workspace-up; }
    Mod+Ctrl+F         { move-workspace-down; } //default U
    Mod+Ctrl+D         { move-workspace-up; } //default I

    //change workspace by scrolling; default 150ms
    Mod+WheelScrollDown      cooldown-ms=50 { focus-column-right; }
    Mod+WheelScrollUp        cooldown-ms=50 { focus-column-left; }
    Mod+Shift+WheelScrollDown cooldown-ms=50 { move-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=50 { move-column-left; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=50 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=50 { move-column-to-workspace-up; }
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    //change workspace by index
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    //move column to workspace by index
    Mod+Shift+1 { move-column-to-workspace 1; } //or { move-window-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    //move workspace to index
    Mod+Ctrl+1 { move-workspace-to-index 1; }
    Mod+Ctrl+2 { move-workspace-to-index 2; }
    Mod+Ctrl+3 { move-workspace-to-index 3; }
    Mod+Ctrl+4 { move-workspace-to-index 4; }
    Mod+Ctrl+5 { move-workspace-to-index 5; }
    Mod+Ctrl+6 { move-workspace-to-index 6; }
    Mod+Ctrl+7 { move-workspace-to-index 7; }
    Mod+Ctrl+8 { move-workspace-to-index 8; }
    Mod+Ctrl+9 { move-workspace-to-index 9; }

    // Switches focus between the current and the previous workspace.
    Super+Mod5+Tab { focus-workspace-previous; }
    Mod+Tab hotkey-overlay-title="Niri: Overview" repeat=false { toggle-overview; } // default Mod+O

    //consume or expel window to and from column
    Mod+Comma { consume-or-expel-window-left; } //or { consume-window-into-column; }
    Mod+Period { consume-or-expel-window-right; } //or { expel-window-from-column; }

    //window sizes
    Mod+R { switch-preset-column-width; }
    Mod+Alt+R { switch-preset-column-width-back; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Alt+Shift+R { switch-preset-window-height-back; }
    //Mod+Alt+R { reset-window-height; }
    Mod+E { maximize-column; }    
    Mod+Alt+E { expand-column-to-available-width; }
    Mod+Shift+E { toggle-windowed-fullscreen; }
    Mod+Shift+Alt+E { maximize-window-to-edges; } //no focus bars or struts
    Alt+Return { fullscreen-window; }

    Mod+C { center-column; }
    //Center all fully visible columns on screen.
    Mod+Shift+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    // Toggle vertically tabbed column display mode.
    Mod+Alt+V { toggle-column-tabbed-display; } ///////////////////////////////////////////////////////////// <--------------

    Super+Mod5+Shift+S { screenshot; }
    Super+Mod5+Shift+W { screenshot-window; }
    Super+Mod5+Shift+D { screenshot-screen; }

    // escape hatch for keyboard inhibitors
    Mod+Mod5+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    //Mod+Shift+Q { quit; }

    Mod+Mod5+P repeat=false hotkey-overlay-title="Mirror current screen (wl-mirror) Fullscreen" { spawn-sh "pkill wl-mirror; wl-mirror -F $(niri msg --json focused-output | jq -r .name)"; } //https://github.com/niri-wm/niri/wiki/Screencasting#screen-mirroring
    Mod+Mod5+Shift+P repeat=false hotkey-overlay-title="Mirror current screen (wl-mirror) Windowed" { spawn-sh "pkill wl-mirror; wl-mirror $(niri msg --json focused-output | jq -r .name)"; } //https://github.com/niri-wm/niri/wiki/Screencasting#screen-mirroring
    Mod+Shift+P repeat=false hotkey-overlay-title="Power off monitors" { power-off-monitors; }
}

include "niri-imports.hm.kdl"
